body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background: rgb(8, 2, 2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
    font-size: 18px;
}

.real { color: green; font-weight: bold; }
.fake { color: red; font-weight: bold; }
